<ng-container>
    <c-row>
        <c-col md="8" class="text-center">
            <h1>PAGOS PENDIENTES</h1>
        </c-col>
    </c-row>

    <c-row class="mt-2">
        <c-col md="12">
            <table cTable hover>
                <thead>
                    <th scope="col">ID</th>
                    <th scope="col">Persona</th>
                    <th scope="col">Cédula</th>
                    <th scope="col">Género</th>
                    <th scope="col">FIFA ID</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Club</th>
                </thead>
               <tbody >
                    <tr *ngFor="let item of items">
                        <td>{{item.id}}</td>
                        <td routerLink="/clubs/registro/{{item.id}}">{{item.name}} </td>
                        <td>{{item.ci}}</td>
                        <td>{{item.gender}}</td>
                        <td>{{item.fifaid}}</td>
                        <td>{{item.birthdate}}</td>
                    </tr>
                </tbody>
            </table>
        </c-col>
    </c-row>
</ng-container>