<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <div>
      <img src="assets/fvf_actual.png" />
    </div>
    <c-row class="justify-content-center">
      <form cForm [formGroup]="form">
        <c-col md="8">
          <c-card-group>
            <c-card class="p-4">
              <c-card-body>
                <h1>Inicio de sesión</h1>
                <p class="text-medium-emphasis">Ingresa a tu cuenta</p>
                <c-row>
                  <c-input-group class="mb-3">
                    <span cInputGroupText>@</span>
                    <input
                      formControlName="email"
                      autoComplete="email"
                      cFormControl
                      placeholder="Correo electrónico"
                    />
                  </c-input-group>
                  <div
                    *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                    class="mb-3"
                  >
                    <div
                      class="text-danger"
                      *ngIf="email?.errors?.['required']"
                    >
                      Atributo Correo electrónico no puede quedar en blanco.
                    </div>
                  </div>
                  <c-input-group class="mb-4">
                    <span cInputGroupText>
                      <svg cIcon name="cilLockLocked"></svg>
                    </span>
                    <input
                      autoComplete="current-password"
                      cFormControl
                      placeholder="Contraseña"
                      type="password"
                      formControlName="password"
                    />
                  </c-input-group>
                  <div
                    *ngIf="
                      password?.invalid &&
                      (password?.dirty || password?.touched)
                    "
                  >
                    <div
                      class="text-danger"
                      *ngIf="password?.errors?.['required']"
                    >
                      Atributo Contraseña no puede quedar en blanco
                    </div>
                  </div>
                </c-row>

                <c-row class="align-items-end">
                  <c-col xs="8">
                    <button
                      (click)="login()"
                      cButton
                      class="px-4"
                      color="primary"
                    >
                      Ingresar al sistema
                    </button>
                  </c-col>
                  <c-col xs="8"> </c-col>
                </c-row>
              </c-card-body>
            </c-card>
          </c-card-group>
        </c-col>
      </form>
    </c-row>
  </c-container>
</div>
