<c-row>
    <c-row>
        <c-col class="text-center mb-4">
            <h1>USUARIOS DE {{ userType }}</h1>
        </c-col>
    </c-row>

    <c-row class="mb-4">
        <c-col md="12" class="text-end">
            <button cButton color="danger" class="text-white" routerLink="/usuarios/registro">

                Registrar Usuario

            </button>
        </c-col>
    </c-row>


    <c-row>
        <c-col>
            <table cTable color="danger" class="table table-info table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Rol</th>
                        <th>Estado</th>
                        <th>Modificar</th>
                    </tr>
                </thead>
                <tbody *ngFor="let user of userlist, let i = index ">
                    <tr>
                        <td>{{ i + 1 }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user?.role}}</td>
                        <td>{{ user?.status }}</td>
                        <td>
                            <button cButton color="warning" (click)="selectUser(user); visible = true">
                                <svg [cIcon]="icon.cilPen"></svg>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </c-col>
    </c-row>


</c-row>




<!-- *///////// -->

<c-modal id="liveDemoModal" [visible]="visible" backdrop="static" size="xl">
    <c-modal-header>
        <h2>Administracion de usuarios</h2>
    </c-modal-header>
    <c-row>
        <c-col md="12">
            <c-card class="border-top-primary border-top-3 mb-3">
                <c-card-header>
                    <div class="col-8 p-2">
                        <span class="">Datos de usuario</span>
                    </div>
                </c-card-header>
                <c-card-body>
                    <div class="row g-3 align-items-left">
                        <div class="col-1">
                            <label class="col-form-label fw-bolder">Nombre:</label>
                        </div>
                        <div class="col-3">
                            <label class="col-form-label">{{ " "+ user?.name }}</label>
                        </div>
                        <div class="col-1">
                            <label class="col-form-label fw-bolder">Correo:</label>
                        </div>
                        <div class="col-3">
                            <label class="col-form-label">{{ " "+ user?.email }}</label>
                        </div>
                    </div>
                </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <form cForm [formGroup]="form">
        <c-row class="mb-3">
            <c-col md="2">
                <label>Estado: </label>
            </c-col>

            <c-col md="4">
                <select cSelect formControlName="status">
                    <option value="active">Activo</option>
                    <option value="inactive">Inactivo</option>
                </select>
            </c-col>
        </c-row>
        <c-row class="mb-3">
            <c-col md="2">
                <label>Rol: </label>
            </c-col>

            <c-col md="4">
                <select cSelect formControlName="role">
                    <option value="club">Club</option>
                    <option value="admin">Administrador</option>
                    <option value="asociacion">Asociacion</option>
                </select>
            </c-col>
        </c-row>
    </form>

    <c-modal-footer>
        <button cButton class="text-white" (click)="updateUser()" color="primary">
            Guardar Cambios
        </button>
        <button cButton class="text-white" (click)="visible = false" color="warning">
            Cerrar
        </button>
    </c-modal-footer>
</c-modal>