<ng-container class="align-items-center">
    <c-row>
        <c-col md="8" class="text-center">
            <h1>LISTADO DE {{ userType }}</h1>
        </c-col>
        <c-col  class="text-end">
            <button cButton color="primary" class="text-white" routerLink="/usuarios/registro">
                Agregar
            </button>
        </c-col>
    </c-row>

    <c-row class="mt-2">
        <c-col>
            <table cTable hover>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Rol</th>
                        <th>Estado</th>
                        <th>Modificar</th>
                    </tr>
                </thead>
                <tbody *ngFor="let user of userlist, let i = index ">
                    <tr>
                        <td>{{ i + 1 }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user?.role}}</td>
                        <td>{{ user?.status }}</td>
                        <td>
                            <button cButton color="warning" (click)="selectUser(user); visible = true">
                                <svg [cIcon]="icon.cilPen"></svg>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </c-col>
    </c-row>


</ng-container>




<!-- *///////// -->

<c-modal id="liveDemoModal" [visible]="visible" backdrop="static" size="xl">
    <c-modal-header>
      <h2>Actualizar usuario Administrador del sistema</h2>
    </c-modal-header>
    <c-modal-body>
      <form cForm [formGroup]="form">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <c-row class="mb-3">
              <c-col md="2">
                <label>Nombre: </label>
              </c-col>
              <c-col md="10">
                <input
                autoComplete="name"
                formControlName="name"
                cFormControl
                placeholder="Nombre"
              />
              </c-col>
            </c-row>
            <div
              *ngIf="name?.invalid && (name?.dirty || name?.touched)"
              class="mb-3"
            >
              <div class="text-danger" *ngIf="name?.errors?.['required']">
                *Atributo nombre no puede estar en blanco.
              </div>
            </div>
            <c-row class="mb-3">
              <c-col md="2">
                <label>Correo: </label>
              </c-col>
              <c-col md="10">
                <input
                  autoComplete="email"
                  formControlName="email"
                  type="email"
                  cFormControl
                  placeholder="Correo electronico"
                />
              </c-col>
            </c-row>

            <div
              *ngIf="email?.invalid && (email?.dirty || email?.touched)"
              class="mb-3"
            >
              <div class="text-danger" *ngIf="email?.errors?.['required']">
                *Atributo Correo electronico no puede estar en blanco.
              </div>
              <div class="text-danger" *ngIf="email?.errors?.['pattern']">
                Debe ser un correo valido
              </div>
            </div>
            <c-row class="mb-3">
              <c-col md="2">
                <label>Contraseña: </label>
              </c-col>
              <c-col md="10">
                <input
                  autoComplete="password"
                  formControlName="password"
                  type="password"
                  cFormControl
                  placeholder="Contraseña"
                />
              </c-col>
            </c-row>
            <c-row class="mb-3">
              <c-col md="2">
                <label>Rol: </label>
              </c-col>
              <c-col md="10">
                <select cSelect formControlName="role">
                  <option value="club">Club</option>
                  <option value="admin">Administrador</option>
                  <option value="asociacion">Asociacion</option>
                </select>
              </c-col>
            </c-row>

            <c-row class="mb-3">
              <c-col md="2">
                <label>Estado: </label>
              </c-col>

              <c-col md="10">
                <select cSelect formControlName="status">
                  <option value="active">Activo</option>
                  <option value="inactive">Inactivo</option>
                </select>
              </c-col>
            </c-row>
          </c-card-body>
        </c-card>
      </form>
    </c-modal-body>
    <c-modal-footer>
      <button cButton class="text-white" (click)="updateUser()" color="primary">
        Guardar Cambios
      </button>
      <button
        cButton
        class="text-white"
        (click)="visible = false"
        color="warning"
      >
        Cerrar
      </button>
    </c-modal-footer>
  </c-modal>