<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="m-2">
      <c-col class="text-center"><img class="img" src="assets/fvf-logo-title.png" /></c-col>
    </c-row>
    <c-row class="justify-content-center">
      <form cForm [formGroup]="form">
        <c-col >
          <c-card-group>
            <c-card class="p-4">
              <c-card-body>
                <h1>Formulario para cambio de contraseña</h1>
                <c-row>
                  <c-input-group class="mb-3">
                    <span cInputGroupText>@</span>
                    <input
                      formControlName="email"
                      autoComplete="email"
                      cFormControl
                      placeholder="Correo electrónico"
                    />
                  </c-input-group>
                  <div
                    *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                    class="mb-3"
                  >
                    <div
                      class="text-danger"
                      *ngIf="email?.errors?.['required']"
                    >
                      Atributo Correo electrónico no puede quedar en blanco.
                    </div>
                    <div class="text-danger" *ngIf="email?.errors?.['pattern']">
                      Debe ser un correo valido
                    </div>
                  </div>
                  
                </c-row>
                <c-row >
                  <c-input-group class="mb-4">
                    <span cInputGroupText>
                      <svg cIcon name="cilLockLocked"></svg>
                    </span>
                    <input
                      autoComplete="current-password"
                      cFormControl
                      placeholder="Contraseña antigua"
                      type="password"
                      formControlName="previusPassword"
                    />
                  </c-input-group>
                  <div
                    *ngIf="
                    previusPassword?.invalid &&
                      (previusPassword?.dirty || previusPassword?.touched)
                    "
                  >
                    <div
                      class="text-danger"
                      *ngIf="previusPassword?.errors?.['required']"
                    >
                      Atributo Contraseña no puede quedar en blanco
                    </div>
                  </div>
                  <c-input-group class="mb-3">
                    <span cInputGroupText>
                      <svg cIcon name="cilLockLocked"></svg>
                    </span>
                    <input
                      autoComplete="new-password"
                      cFormControl
                      placeholder="Contraseña nueva"
                      type="password"
                      formControlName="password"
                      (change)="changePass()"
                    />
                  </c-input-group>
                  <div
                    *ngIf="password?.invalid && (password?.dirty || password?.touched)"
                    class="mb-3"
                  >
                    <div class="text-danger" *ngIf="password?.errors?.['required']">
                      *Atributo Contraseña no puede estar en blanco.
                    </div>
                  </div>
                  <c-input-group class="mb-4">
                    <span cInputGroupText>
                      <svg cIcon name="cilLockLocked"></svg>
                    </span>
                    <input
                      autoComplete="new-password"
                      cFormControl
                      placeholder="Repetir Contraseña nueva"
                      type="password"
                      formControlName="pass"
                      (change)="changePass()"
                    />
                  </c-input-group>
                  <div
                    *ngIf="pass?.invalid && (pass?.dirty || pass?.touched)"
                    class="mb-3"
                  >
                    <div class="text-danger mb-3" *ngIf="pass?.errors?.['required']">
                      *Atributo repetir contraseña no puede estar en blanco.
                    </div>
                  </div>
                    <div class="text-danger mb-3" *ngIf="visiblePass">
                      Las contraseñas no coinciden
                    </div>
                </c-row>

        
                <c-row  class="align-items-end">
                  <c-col class="text-center">
                    <button
                      cButton
                      class="px-4"
                      color="primary"
                      (click)="changePassword()"
                    >
                      Realizar cambio de contraseña
                    </button>
                  </c-col>
                </c-row>
              </c-card-body>
            </c-card>
          </c-card-group>
        </c-col>
      </form>
    </c-row>
  </c-container>
</div>
